$noOfSlides            = 5
$carouselWidth         = 100%
$carouselIndicatorSize = 8px
$slideTransition       = .5s
$carouselControlSize   = 30px

@keyframes carousel-show-slide
  from
    opacity 0
  to
    opacity 1

.carousel
  width      $carouselWidth
  overflow   hidden
  text-align center
  padding    0
  list-style none
  position  absolute
  top 0
  left 0
  bottom 0
  right 0
  
  &__controls
  &__activator
    display none

  for num in 1..$noOfSlides
      &__activator:nth-of-type({num})
        &:checked ~ .carousel__track
          transform translateX(-((num - 1) * 100%))
        &:checked ~ .carousel__slide:nth-of-type({num})
          animation carousel-show-slide $slideTransition
          top 0
          left 0
          right 0
        &:checked ~ .carousel__controls:nth-of-type({num})
          display block
        &:checked ~ .carousel__indicators .carousel__indicator:nth-of-type({num})
          opacity 1
          background-color     black
        
   &__control
    height  calc(100% - 30px)
    width 50%
    position  absolute
    cursor  pointer
    z-index 3

    &--backward
      left  0px

    &--forward
      right 0px

  &__indicators
    position  absolute
    bottom  0px
    width 100%
    text-align center

  &__indicator
    height  $carouselIndicatorSize
    width $carouselIndicatorSize
    border-radius 100%
    display  inline-block
    z-index 2
    cursor  pointer
    margin  0 20px 0 2.5px
    &:hover
      opacity .75
      background-color  black

  /**
    * Create rules for when slides are contained within a track
  */
  &__track
    position absolute
    top 0
    right 0
    bottom 0
    left  0
    padding 0
    margin  0
    transition transform $slideTransition ease 0s

    .carousel__slide
      for num in (1..$noOfSlides)
        &:nth-of-type({num})
          transform translateX((num - 1) * 100%)
        

  &__slide
    height  calc(100% - 30px)
    width 100%
    position  absolute
    overflow-y auto

/**
  * Theming
*/

.carousel-container
  display  inline-block
  position relative
  width 100%

.carousel__slide
  overflow      hidden

.carousel__indicator
  background-color red
  