$cyan = linear-gradient(-180deg, #E6F0F0 0%, #E9F0E6 100%);
$orange = #DD3E18
*
	box-sizing border-box
body
	margin 0

.main-container
	display grid
	grid-template-rows auto auto auto
	grid-template-columns 100%
	grid-template-areas "main-container__header" "main-container__content" "main-container__footer"
	grid-auto-flow initial
	grid-auto-rows initial
	grid-auto-columns initial
		
	h1
	h2
	h3
		font-family Helvetica
		text-align center

	h1
		font-size 32px
		line-height 40px
	h2
		font-size 24px
		line-height 29px		
	h3
		font-size 16px
		line-height 19px

	a
	article
	button
	input
	textarea
		font-family Georgia
		font-size 16px
		line-height 24px

	a
		color $orange
		text-decoration none

	&__header
	&__content
	&__footer		
		padding 30px 16px
		display flex
		flex-direction column
		
	&__header
		grid-area main-container__header
		background-color #082841

		h1
		h3
			color #FFFFFF

		img
			display block
			margin 0 auto 30px auto
			width 50%
			border-radius 100%

		article
			color #FFFFFF
			text-align center

	&__content
		grid-area main-container__content
		display grid
		grid-template-rows auto
		grid-template-columns 1fr 304px 1fr
		grid-template-areas ". content ."
		grid-auto-flow initial
		grid-auto-rows initial
		grid-auto-columns initial

		.content-container
			display flex
			flex-flow column
			grid-area content

		.expectations
			margin-bottom 80px

			h2
				text-align left
				margin-top 0
				margin-bottom 29

			.carousel-container
				display none

				.carousel__slide
					height calc(100% - 30)
					width 100%
					background-image $cyan
					padding 24px

					article
						text-align left

			.cards-conteiner
				display flex
				flex-wrap wrap
				&__card
					display flex
					flex-direction column
					justify-content space-between
					width calc(60% - 20px)
					height: 240px
					margin 10px
					padding  32px
					background-image $cyan
				&__card:nth-of-type(even)
					width calc(40% - 20px)
				&__card:nth-of-type(3)
					order 1
		
		.portfolio
			h1
			h2
				text-align left
			h1
				width 100%
				margin-bottom 38px
			h2
				margin-top 0
				a
					margin-top 8px
					display block
					font-weight normal
			&__example
				margin-bottom 80px
				.carousel-container
					.carousel
						for num in 1..5
							@media (min-width: 1080px)
								&__activator:nth-of-type({num})
									&:checked ~ .carousel__track
										transform translateY(-((num - 1) * 100%))
					.carousel
						&__slide
							for num in (1..5)
								@media (min-width: 1080px)
									&:nth-of-type({num})
										transform translateY((num - 1) * 100%)
							img
								height 100%
								width 100%

	&__footer
		grid-area main-container__footer
		background-image $cyan
		h1
			text-align left
		ul
			padding-left 25px
			li
				list-style-type none
				position relative
				margin 10px
				&:before 
					content ''
					display inline-block
					position absolute
					left -35px
					height 20px
					width 20px
					opacity 0.1
					background #000000
					border-radius 2px
			
		form
			input
			textarea
			button
				width 100%
				border-radius 4px
				padding 11px
				border 1px solid rgba(0, 0, 0, .1)
				margin 10px 0px
				outline none

			textarea
				resize none
				
			button
			.file-container
				font-family Helvetica
				font-weight bold

			button
				background-color $orange
				color white
				width 100%

			.file-container
				display inline-block
				line-height 24px
				cursor pointer
				color $orange
				margin-bottom 30px

				span
					margin-right 10px
					font-size 21px

				[type=file]
					display none
			
@media only screen and (max-width: 768px)
	.main-container
		&__content
			.expectations
				.cards-conteiner
					display none
			.portfolio
				.carousel-container
					height 246px
					
@media only screen and (min-width: 768px)
	.main-container
		h1
			font-size 40px
		
		h2
			font-size 24px
		 
		&__content
		&__footer
			padding 30px 32px
		
		&__header
			img
				margin-bottom 75px
			
			article
				width 75%
				margin auto
				line-height 28px
				font-size 20px

		&__content
			grid-template-columns 1fr 704px 1fr
			.content-container
				.expectations
					h1
						text-align left
					.carousel-container
						display none
				.portfolio
					grid-template-columns 1fr 704px 1fr
					&__example
						display grid
						grid-template-rows 37px 1fr 528px
						grid-template-columns 1fr 384px
						grid-template-areas "title article" "link article" "carousel carousel"
						margin-bottom 70px

						h1
							grid-area title
						a
							grid-area link
						.carousel-container
							grid-area carousel
						article
							grid-area article
							margin-bottom 25px
							
						.carousel-container:before
							padding-top calc(70.5% + 30px)

		&__footer
			display grid
			grid-template-rows auto
			grid-template-columns 1fr 704px 1fr
			grid-template-areas ". content ."

			.footer-container
				grid-area content
				display grid
				grid-template-rows 50px 147px 1fr
				grid-template-columns 384px 1fr 
				grid-template-areas "title title" "article list" "form form"

			h1
				margin 0
				grid-area title
			ul
				grid-area list	
				margin 0 0 0 85px				
			article
				grid-area article
			form
				grid-area form

	@media only screen and (min-width: 1080px)
		.main-container
			h1
				font-size 40px
				text-align left
			h3
				font-size 24px
			&__header
				height 768px
				padding 0
				display grid
				grid-template-rows 65px 30px 50px 266px 97px
				grid-template-columns 424px 95px 464px 1fr
				grid-template-areas "photo . ." "photo . title" "photo . header" "photo . ." "photo . article" "photo . ."

				h1
					grid-area header
					margin 11px 0 0 0
				h3
					grid-area title
					margin 0
					text-align left
				article
					grid-area article
					width 100%
					text-align left
				img
					grid-area photo
					width 100%
					margin 0
					border-radius 0

			&__content
				grid-template-columns 1fr 904px 1fr
				.content-container
					.portfolio
						&__example
							height 384px
							grid-template-columns 571px 70px 1fr
							grid-template-rows 44px 1fr 147px
							grid-template-areas "carousel . title" "carousel . link" "carousel . ." "carousel . article"
							&:nth-of-type(even)
								grid-template-columns	1fr 70px 571px
								grid-template-rows 44px 1fr 147px
								grid-template-areas "title . carousel" "link . carousel" ". . carousel" "article . carousel"
							h2
								grid-area title
							.carousel-container
								&:before
									padding-top: calc(70.5%);	
								.carousel
									&__control
										height 50%
										width calc(100% - 27px) 
										left 0
										&--forward
											bottom 0
										&--backward
											top 0	
									&__slide
										height 100%
										width calc(100% - 27px)
									&__indicators
										height 100px
										width 10px
										right 1px
										top calc(50% - 50px)

		&__footer
			.footer-container
				position relative
				width 944px
				margin auto
			
			padding-bottom 225px
			h1
				margin-top 50px				
				margin-bottom 60px
			
			ul
				padding-left 25px
				width 100%
				display block
				&:before
					content 'Ссылки на мои соцсети:'
					position relative
					left -25px
					font-family Georgia
					font-size 16px
					line-height 24px

			article
				flex none
				width 27%
				padding-right 73%
				display block
				margin-bottom 40px
			

			form
				position absolute
				width 50%
				right 40px
				top 130px
