$cyan = #E6F0F0
$orange = #DD3E18

body
	margin 0

.main-container
	display flex
	flex-direction column

	h1
	h2
	h3
		font-family Helvetica
		text-align center

	h1
		font-size 32px
		line-height 40px
	h2
		font-size 24px
		line-height 29px		
	h3
		font-size 16px
		line-height 19px

	a
	article
	button
	input
	textarea
		font-family Georgia
		font-size 16px
		line-height 24px

	a
		color $orange
		text-decoration none
				
	header
		display flex
		flex-direction column
		padding 30px 16px
		background-color #082841

		h1
		h2
		h3
			color #FFFFFF

		img
			margin-left 25%
			margin-bottom 30px
			width 50%
			border-radius 100%

		article
			color #FFFFFF
			text-align center

	.main-content
		padding 30px 16px
		.expectations
			margin-bottom 80px

			h2
				text-align left
				margin-top 0
				margin-bottom 29

			.carousel-container
				display none

				.carousel__slide
					height calc(100% - 78px)
					width calc(100% - 48px)
					background-color $cyan
					padding 24px

			.cards-conteiner
				display flex
				flex-wrap wrap
				&__card
					width calc(60% - 84px)
					margin 10px
					padding  32px
					background-color $cyan
				&__card:nth-of-type(even)
					width calc(40% - 84px)
				&__card:nth-of-type(3)
					order 1

				article
					text-align left
		
		.portfolio
			display flex
			flex-wrap wrap

			h1
			h2
				text-align left
			h1
				width 100%
				margin-bottom 38px
			h2
				a
					margin-top 8px
					display block
					font-weight normal
			article
				margin-top 16px
			&__example
				.carousel-container
					.carousel
						for num in 1..5
							@media (min-width: 785px)
								&__activator:nth-of-type({num})
									&:checked ~ .carousel__track
										transform translateY(-((num - 1) * 100%))
					.carousel
						&__slide
							for num in (1..5)
								@media (min-width: 785px)
									&:nth-of-type({num})
										transform translateY((num - 1) * 100%)
							img
								height 100%
								width 100%

	footer
		display flex
		flex-wrap wrap
		background-color $cyan
		padding 30px 16px

		h1
			width 100%
			order 1
			text-align left

		ul
			margin-top 0
			order 2		
			li
				list-style-type none
				position relative
				margin 10px
				&:before 
					content ''
					display inline-block
					position absolute
					left -35px
					height 20px
					width 20px
					opacity 0.1
					background #000000
					border-radius 2px

		article
			order 3
			
		form
			order 4
			padding-bottom 20px
			input
			textarea
			button
				width calc(100% - 22px)
				border-radius 4px
				padding 11px
				border 1px solid rgba(0, 0, 0, .1)
				margin 10px 0px
				outline none

			textarea
				resize: none
				

			button
			.file-container
				font-family Helvetica
				font-weight bold

			button
				background-color $orange
				color white
				width 100%

			.file-container
				display inline-block
				line-height 24px
				cursor pointer
				color $orange
				margin-bottom 30px

				span
					margin-right 10px
					font-size 21px

				[type=file]
					display none
			
@media (max-width: 784px) {
	.main-container{
		.main-content {
			.expectations{
				.cards-conteiner {
					display none
				}
				.carousel-container {
					display inline-block
				}
				.carousel-container:before { // 16:9
					padding-top: calc(100% + 30px);
				}
			}
		}
	}
}

@media (min-width: 785px) {
	.main-container{
		h1 {
			font-size 40px
		}
		h2 {
			font-size 24px
		}
		article {
			line-height 28px
			font-size 20px
		} 
		.main-content, footer {
			padding 30px 32px
		}
	  header {
			img {
				margin-bottom 75px
			}
			article {
				width 75%
				margin auto
			}
		}
		.main-content {
			.expectations {
				h1 {
					text-align left
				}
				.carousel-container {
					display none
				}
			}
			.portfolio{
				.carousel-container:before { // 16:9
					padding-top: calc(70.5% + 30px);
				}
			}
			.portfolio {
				h2, article {
					display inline-block
				}

				article {
					width 50%
					float right
					margin-bottom 20px
				}
			}
		}

		footer {
			ul {
				order 3
				flex 1
				margin-top -10px;
			}
			article {
				order 2
				flex 2
				padding-right 150px
			}
		}
	}

	@media (min-width: 1040px) {
		.main-container {
			header{
				position relative
				padding-left calc(50% - 30px)
				padding-bottom 97px
				padding-top 65px
				h1 {
					text-align left
					margin-top 0
					margin-bottom 266px
				}
				h3 {
					margin-top 5px
					font-size 24px
					text-align left
				}
				article {
					margin 0
					text-align left
					width 89%
				}
				img {
					position absolute
					left 0
					top 0
					margin-left 0
					border-radius 0
					width 424px
				}
			}
		.main-content {
			padding 0
			width 944px
			margin auto
			
			.portfolio{
				&__example{
					&:nth-of-type(even) {
						transform: scaleX(-1);
						h2, article, img {
							transform: scaleX(-1);
						}
					}
					position relative
					padding-left 650px
					h2 {
						display block
						margin-bottom 180px
					}
					article {
						font-size 16px
						width 100%
						float none

					}
					.carousel-container {
						&:before {
							padding-top: calc(70.5%);	
						}
						position absolute
						left 0
						top 0
						width 554px
						.carousel {
							&__control {
								height 50%
								width calc(100% - 27px) 
								&--forward{
									bottom 0
								}
								&--backward{
									top 0	
								}
							}
							&__slide {
								height 100%
								width calc(100% - 27px)
							}
							&__indicators {
								height 100px
								width 10px
								right 1px
								top calc(50% - 50px)
							}
						}
					}
				}
			}
		}

		footer {
			.footer-container {
				position relative
				width 944px
				margin auto
			}
			padding-bottom 225px
			h1 {
				margin-top 50px				
				margin-bottom 60px
			}
			ul {
				padding-left 25px
				width 100%
				display block
			}

			article {
				flex none
				width 27%
				padding-right 73%
				display block
				margin-bottom 40px
			}

			form {
				position absolute
				width 50%
				right 40px
				top 130px
			}
		}
		}
	}
}