* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.main-container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 100%;
  grid-template-areas: "main-container__header" "main-container__content" "main-container__footer";
  grid-auto-flow: initial;
  grid-auto-rows: initial;
  grid-auto-columns: initial;
}
.main-container h1,
.main-container h2,
.main-container h3 {
  font-family: Helvetica;
  text-align: center;
}
.main-container h1 {
  font-size: 32px;
  line-height: 40px;
}
.main-container h2 {
  font-size: 24px;
  line-height: 29px;
}
.main-container h3 {
  font-size: 16px;
  line-height: 19px;
}
.main-container a,
.main-container article,
.main-container button,
.main-container input,
.main-container textarea {
  font-family: Georgia;
  font-size: 16px;
  line-height: 24px;
}
.main-container a {
  color: #dd3e18;
  text-decoration: none;
}
.main-container__header,
.main-container__content,
.main-container__footer {
  padding: 30px 16px;
  display: flex;
  flex-direction: column;
}
.main-container__header {
  grid-area: main-container__header;
  background-color: #082841;
}
.main-container__header h1,
.main-container__header h3 {
  color: #fff;
}
.main-container__header img {
  display: block;
  margin: 0 auto 30px auto;
  width: 50%;
  border-radius: 100%;
}
.main-container__header article {
  color: #fff;
  text-align: center;
}
.main-container__content {
  grid-area: main-container__content;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 304px 1fr;
  grid-template-areas: ". content .";
  grid-auto-flow: initial;
  grid-auto-rows: initial;
  grid-auto-columns: initial;
}
.main-container__content .content-container {
  display: flex;
  flex-flow: column;
  grid-area: content;
}
.main-container__content .expectations {
  margin-bottom: 80px;
}
.main-container__content .expectations h2 {
  text-align: left;
  margin-top: 0;
  margin-bottom: 29;
}
.main-container__content .expectations .carousel-container {
  display: none;
}
.main-container__content .expectations .carousel-container .carousel__slide {
  height: calc(100% - 30);
  width: 100%;
  background-image: linear-gradient(-180deg, #e6f0f0 0%, #e9f0e6 100%);
  padding: 24px;
}
.main-container__content .expectations .carousel-container .carousel__slide article {
  text-align: left;
}
.main-container__content .expectations .cards-conteiner {
  display: flex;
  flex-wrap: wrap;
}
.main-container__content .expectations .cards-conteiner__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(60% - 20px);
  height: 240px;
  margin: 10px;
  padding: 32px;
  background-image: linear-gradient(-180deg, #e6f0f0 0%, #e9f0e6 100%);
}
.main-container__content .expectations .cards-conteiner__card:nth-of-type(even) {
  width: calc(40% - 20px);
}
.main-container__content .expectations .cards-conteiner__card:nth-of-type(3) {
  order: 1;
}
.main-container__content .portfolio h1,
.main-container__content .portfolio h2 {
  text-align: left;
}
.main-container__content .portfolio h1 {
  width: 100%;
  margin-bottom: 38px;
}
.main-container__content .portfolio h2 {
  margin-top: 0;
}
.main-container__content .portfolio h2 a {
  margin-top: 8px;
  display: block;
  font-weight: normal;
}
.main-container__content .portfolio__example {
  margin-bottom: 80px;
}
@media (min-width: 1080px) {
  .main-container__content .portfolio__example .carousel-container .carousel__activator:nth-of-type(1):checked ~ .carousel__track {
    transform: translateY(0%);
  }
}
@media (min-width: 1080px) {
  .main-container__content .portfolio__example .carousel-container .carousel__activator:nth-of-type(2):checked ~ .carousel__track {
    transform: translateY(-100%);
  }
}
@media (min-width: 1080px) {
  .main-container__content .portfolio__example .carousel-container .carousel__activator:nth-of-type(3):checked ~ .carousel__track {
    transform: translateY(-200%);
  }
}
@media (min-width: 1080px) {
  .main-container__content .portfolio__example .carousel-container .carousel__activator:nth-of-type(4):checked ~ .carousel__track {
    transform: translateY(-300%);
  }
}
@media (min-width: 1080px) {
  .main-container__content .portfolio__example .carousel-container .carousel__activator:nth-of-type(5):checked ~ .carousel__track {
    transform: translateY(-400%);
  }
}
@media (min-width: 1080px) {
  .main-container__content .portfolio__example .carousel-container .carousel__slide:nth-of-type(1) {
    transform: translateY(0%);
  }
}
@media (min-width: 1080px) {
  .main-container__content .portfolio__example .carousel-container .carousel__slide:nth-of-type(2) {
    transform: translateY(100%);
  }
}
@media (min-width: 1080px) {
  .main-container__content .portfolio__example .carousel-container .carousel__slide:nth-of-type(3) {
    transform: translateY(200%);
  }
}
@media (min-width: 1080px) {
  .main-container__content .portfolio__example .carousel-container .carousel__slide:nth-of-type(4) {
    transform: translateY(300%);
  }
}
@media (min-width: 1080px) {
  .main-container__content .portfolio__example .carousel-container .carousel__slide:nth-of-type(5) {
    transform: translateY(400%);
  }
}
.main-container__content .portfolio__example .carousel-container .carousel__slide img {
  height: 100%;
  width: 100%;
}
.main-container__footer {
  grid-area: main-container__footer;
  background-image: linear-gradient(-180deg, #e6f0f0 0%, #e9f0e6 100%);
}
.main-container__footer h1 {
  text-align: left;
}
.main-container__footer ul {
  padding-left: 25px;
}
.main-container__footer ul li {
  list-style-type: none;
  position: relative;
  margin: 10px;
}
.main-container__footer ul li:before {
  content: '';
  display: inline-block;
  position: absolute;
  left: -35px;
  height: 20px;
  width: 20px;
  opacity: 0.1;
  background: #000;
  border-radius: 2px;
}
.main-container__footer form input,
.main-container__footer form textarea,
.main-container__footer form button {
  width: 100%;
  border-radius: 4px;
  padding: 11px;
  border: 1px solid rgba(0,0,0,0.1);
  margin: 10px 0px;
  outline: none;
}
.main-container__footer form textarea {
  resize: none;
}
.main-container__footer form button,
.main-container__footer form .file-container {
  font-family: Helvetica;
  font-weight: bold;
}
.main-container__footer form button {
  background-color: #dd3e18;
  color: #fff;
  width: 100%;
}
.main-container__footer form .file-container {
  display: inline-block;
  line-height: 24px;
  cursor: pointer;
  color: #dd3e18;
  margin-bottom: 30px;
}
.main-container__footer form .file-container span {
  margin-right: 10px;
  font-size: 21px;
}
.main-container__footer form .file-container [type=file] {
  display: none;
}
@media only screen and (max-width: 768px) {
  .main-container__content .expectations .cards-conteiner {
    display: none;
  }
  .main-container__content .portfolio .carousel-container {
    height: 246px;
  }
}
@media only screen and (min-width: 768px) {
  .main-container h1 {
    font-size: 40px;
  }
  .main-container h2 {
    font-size: 24px;
  }
  .main-container__content,
  .main-container__footer {
    padding: 30px 32px;
  }
  .main-container__header img {
    margin-bottom: 75px;
  }
  .main-container__header article {
    width: 75%;
    margin: auto;
    line-height: 28px;
    font-size: 20px;
  }
  .main-container__content {
    grid-template-columns: 1fr 704px 1fr;
  }
  .main-container__content .content-container .expectations h1 {
    text-align: left;
  }
  .main-container__content .content-container .expectations .carousel-container {
    display: none;
  }
  .main-container__content .content-container .portfolio {
    grid-template-columns: 1fr 704px 1fr;
  }
  .main-container__content .content-container .portfolio__example {
    display: grid;
    grid-template-rows: 37px 1fr 528px;
    grid-template-columns: 1fr 384px;
    grid-template-areas: "title article" "link article" "carousel carousel";
    margin-bottom: 70px;
  }
  .main-container__content .content-container .portfolio__example h1 {
    grid-area: title;
  }
  .main-container__content .content-container .portfolio__example a {
    grid-area: link;
  }
  .main-container__content .content-container .portfolio__example .carousel-container {
    grid-area: carousel;
  }
  .main-container__content .content-container .portfolio__example article {
    grid-area: article;
    margin-bottom: 25px;
  }
  .main-container__content .content-container .portfolio__example .carousel-container:before {
    padding-top: calc(70.5% + 30px);
  }
  .main-container__footer {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 704px 1fr;
    grid-template-areas: ". content .";
  }
  .main-container__footer .footer-container {
    grid-area: content;
    display: grid;
    grid-template-rows: 50px 147px 1fr;
    grid-template-columns: 384px 1fr;
    grid-template-areas: "title title" "article list" "form form";
  }
  .main-container__footer h1 {
    margin: 0;
    grid-area: title;
  }
  .main-container__footer ul {
    grid-area: list;
    margin: 0 0 0 85px;
  }
  .main-container__footer article {
    grid-area: article;
  }
  .main-container__footer form {
    grid-area: form;
  }
}
@media only screen and (min-width: 768px) and (min-width: 1080px) {
  .main-container h1 {
    font-size: 40px;
    text-align: left;
  }
  .main-container h3 {
    font-size: 24px;
  }
  .main-container__header {
    height: 768px;
    padding: 0;
    display: grid;
    grid-template-rows: 65px 30px 50px 266px 97px;
    grid-template-columns: 424px 95px 464px 1fr;
    grid-template-areas: "photo . ." "photo . title" "photo . header" "photo . ." "photo . article" "photo . .";
  }
  .main-container__header h1 {
    grid-area: header;
    margin: 11px 0 0 0;
  }
  .main-container__header h3 {
    grid-area: title;
    margin: 0;
    text-align: left;
  }
  .main-container__header article {
    grid-area: article;
    width: 100%;
    text-align: left;
  }
  .main-container__header img {
    grid-area: photo;
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
  .main-container__content {
    grid-template-columns: 1fr 904px 1fr;
  }
  .main-container__content .content-container .portfolio__example {
    height: 384px;
    grid-template-columns: 571px 70px 1fr;
    grid-template-rows: 44px 1fr 147px;
    grid-template-areas: "carousel . title" "carousel . link" "carousel . ." "carousel . article";
  }
  .main-container__content .content-container .portfolio__example:nth-of-type(even) {
    grid-template-columns: 1fr 70px 571px;
    grid-template-rows: 44px 1fr 147px;
    grid-template-areas: "title . carousel" "link . carousel" ". . carousel" "article . carousel";
  }
  .main-container__content .content-container .portfolio__example h2 {
    grid-area: title;
  }
  .main-container__content .content-container .portfolio__example .carousel-container:before {
    padding-top: calc(70.5%);
  }
  .main-container__content .content-container .portfolio__example .carousel-container .carousel__control {
    height: 50%;
    width: calc(100% - 27px);
    left: 0;
  }
  .main-container__content .content-container .portfolio__example .carousel-container .carousel__control--forward {
    bottom: 0;
  }
  .main-container__content .content-container .portfolio__example .carousel-container .carousel__control--backward {
    top: 0;
  }
  .main-container__content .content-container .portfolio__example .carousel-container .carousel__slide {
    height: 100%;
    width: calc(100% - 27px);
  }
  .main-container__content .content-container .portfolio__example .carousel-container .carousel__indicators {
    height: 100px;
    width: 10px;
    right: 1px;
    top: calc(50% - 50px);
  }
  __footer {
    padding-bottom: 225px;
  }
  __footer .footer-container {
    position: relative;
    width: 944px;
    margin: auto;
  }
  __footer h1 {
    margin-top: 50px;
    margin-bottom: 60px;
  }
  __footer ul {
    padding-left: 25px;
    width: 100%;
    display: block;
  }
  __footer ul:before {
    content: 'Ссылки на мои соцсети:';
    position: relative;
    left: -25px;
    font-family: Georgia;
    font-size: 16px;
    line-height: 24px;
  }
  __footer article {
    flex: none;
    width: 27%;
    padding-right: 73%;
    display: block;
    margin-bottom: 40px;
  }
  __footer form {
    position: absolute;
    width: 50%;
    right: 40px;
    top: 130px;
  }
}
