body {
  margin: 0;
}
.main-container {
  display: flex;
  flex-direction: column;
}
.main-container h1,
.main-container h2,
.main-container h3 {
  font-family: Helvetica;
  text-align: center;
}
.main-container h1 {
  font-size: 32px;
  line-height: 40px;
}
.main-container h2 {
  font-size: 24px;
  line-height: 29px;
}
.main-container h3 {
  font-size: 16px;
  line-height: 19px;
}
.main-container a,
.main-container article,
.main-container button,
.main-container input,
.main-container textarea {
  font-family: Georgia;
  font-size: 16px;
  line-height: 24px;
}
.main-container a {
  color: #dd3e18;
  text-decoration: none;
}
.main-container header {
  display: flex;
  flex-direction: column;
  padding: 30px 16px;
  background-color: #082841;
}
.main-container header h1,
.main-container header h2,
.main-container header h3 {
  color: #fff;
}
.main-container header img {
  margin-left: 25%;
  margin-bottom: 30px;
  width: 50%;
  border-radius: 100%;
}
.main-container header article {
  color: #fff;
  text-align: center;
}
.main-container .main-content {
  padding: 30px 16px;
}
.main-container .main-content .expectations {
  margin-bottom: 80px;
}
.main-container .main-content .expectations h2 {
  text-align: left;
  margin-top: 0;
  margin-bottom: 29;
}
.main-container .main-content .expectations .carousel-container {
  display: none;
}
.main-container .main-content .expectations .carousel-container .carousel__slide {
  height: calc(100% - 78px);
  width: calc(100% - 48px);
  background-color: #e6f0f0;
  padding: 24px;
}
.main-container .main-content .expectations .cards-conteiner {
  display: flex;
  flex-wrap: wrap;
}
.main-container .main-content .expectations .cards-conteiner__card {
  width: calc(60% - 84px);
  margin: 10px;
  padding: 32px;
  background-color: #e6f0f0;
}
.main-container .main-content .expectations .cards-conteiner__card:nth-of-type(even) {
  width: calc(40% - 84px);
}
.main-container .main-content .expectations .cards-conteiner__card:nth-of-type(3) {
  order: 1;
}
.main-container .main-content .expectations .cards-conteiner article {
  text-align: left;
}
.main-container .main-content .portfolio {
  display: flex;
  flex-wrap: wrap;
}
.main-container .main-content .portfolio h1,
.main-container .main-content .portfolio h2 {
  text-align: left;
}
.main-container .main-content .portfolio h1 {
  width: 100%;
  margin-bottom: 38px;
}
.main-container .main-content .portfolio h2 a {
  margin-top: 8px;
  display: block;
  font-weight: normal;
}
.main-container .main-content .portfolio article {
  margin-top: 16px;
}
@media (min-width: 785px) {
  .main-container .main-content .portfolio__example .carousel-container .carousel__activator:nth-of-type(1):checked ~ .carousel__track {
    transform: translateY(0%);
  }
}
@media (min-width: 785px) {
  .main-container .main-content .portfolio__example .carousel-container .carousel__activator:nth-of-type(2):checked ~ .carousel__track {
    transform: translateY(-100%);
  }
}
@media (min-width: 785px) {
  .main-container .main-content .portfolio__example .carousel-container .carousel__activator:nth-of-type(3):checked ~ .carousel__track {
    transform: translateY(-200%);
  }
}
@media (min-width: 785px) {
  .main-container .main-content .portfolio__example .carousel-container .carousel__activator:nth-of-type(4):checked ~ .carousel__track {
    transform: translateY(-300%);
  }
}
@media (min-width: 785px) {
  .main-container .main-content .portfolio__example .carousel-container .carousel__activator:nth-of-type(5):checked ~ .carousel__track {
    transform: translateY(-400%);
  }
}
@media (min-width: 785px) {
  .main-container .main-content .portfolio__example .carousel-container .carousel__slide:nth-of-type(1) {
    transform: translateY(0%);
  }
}
@media (min-width: 785px) {
  .main-container .main-content .portfolio__example .carousel-container .carousel__slide:nth-of-type(2) {
    transform: translateY(100%);
  }
}
@media (min-width: 785px) {
  .main-container .main-content .portfolio__example .carousel-container .carousel__slide:nth-of-type(3) {
    transform: translateY(200%);
  }
}
@media (min-width: 785px) {
  .main-container .main-content .portfolio__example .carousel-container .carousel__slide:nth-of-type(4) {
    transform: translateY(300%);
  }
}
@media (min-width: 785px) {
  .main-container .main-content .portfolio__example .carousel-container .carousel__slide:nth-of-type(5) {
    transform: translateY(400%);
  }
}
.main-container .main-content .portfolio__example .carousel-container .carousel__slide img {
  height: 100%;
  width: 100%;
}
.main-container footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #e6f0f0;
  padding: 30px 16px;
}
.main-container footer h1 {
  width: 100%;
  order: 1;
  text-align: left;
}
.main-container footer ul {
  margin-top: 0;
  order: 2;
}
.main-container footer ul li {
  list-style-type: none;
  position: relative;
  margin: 10px;
}
.main-container footer ul li:before {
  content: '';
  display: inline-block;
  position: absolute;
  left: -35px;
  height: 20px;
  width: 20px;
  opacity: 0.1;
  background: #000;
  border-radius: 2px;
}
.main-container footer article {
  order: 3;
}
.main-container footer form {
  order: 4;
  padding-bottom: 20px;
}
.main-container footer form input,
.main-container footer form textarea,
.main-container footer form button {
  width: calc(100% - 22px);
  border-radius: 4px;
  padding: 11px;
  border: 1px solid rgba(0,0,0,0.1);
  margin: 10px 0px;
  outline: none;
}
.main-container footer form textarea {
  resize: none;
}
.main-container footer form button,
.main-container footer form .file-container {
  font-family: Helvetica;
  font-weight: bold;
}
.main-container footer form button {
  background-color: #dd3e18;
  color: #fff;
  width: 100%;
}
.main-container footer form .file-container {
  display: inline-block;
  line-height: 24px;
  cursor: pointer;
  color: #dd3e18;
  margin-bottom: 30px;
}
.main-container footer form .file-container span {
  margin-right: 10px;
  font-size: 21px;
}
.main-container footer form .file-container [type=file] {
  display: none;
}
@media (max-width: 784px) {
  .main-container .main-content .expectations .cards-conteiner {
    display: none;
  }
  .main-container .main-content .expectations .carousel-container {
    display: inline-block;
  }
  .main-container .main-content .expectations .carousel-container:before {
    padding-top: calc(100% + 30px);
  }
}
@media (min-width: 785px) {
  .main-container h1 {
    font-size: 40px;
  }
  .main-container h2 {
    font-size: 24px;
  }
  .main-container article {
    line-height: 28px;
    font-size: 20px;
  }
  .main-container .main-content,
  .main-container footer {
    padding: 30px 32px;
  }
  .main-container header img {
    margin-bottom: 75px;
  }
  .main-container header article {
    width: 75%;
    margin: auto;
  }
  .main-container .main-content .expectations h1 {
    text-align: left;
  }
  .main-container .main-content .expectations .carousel-container {
    display: none;
  }
  .main-container .main-content .portfolio .carousel-container:before {
    padding-top: calc(70.5% + 30px);
  }
  .main-container .main-content .portfolio h2,
  .main-container .main-content .portfolio article {
    display: inline-block;
  }
  .main-container .main-content .portfolio article {
    width: 50%;
    float: right;
    margin-bottom: 20px;
  }
  .main-container footer ul {
    order: 3;
    flex: 1;
    margin-top: -10px;
  }
  .main-container footer article {
    order: 2;
    flex: 2;
    padding-right: 150px;
  }
}
@media (min-width: 785px) and (min-width: 1040px) {
  .main-container header {
    position: relative;
    padding-left: calc(50% - 30px);
    padding-bottom: 97px;
    padding-top: 65px;
  }
  .main-container header h1 {
    text-align: left;
    margin-top: 0;
    margin-bottom: 266px;
  }
  .main-container header h3 {
    margin-top: 5px;
    font-size: 24px;
    text-align: left;
  }
  .main-container header article {
    margin: 0;
    text-align: left;
    width: 89%;
  }
  .main-container header img {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 0;
    border-radius: 0;
    width: 424px;
  }
  .main-container .main-content {
    padding: 0;
    width: 944px;
    margin: auto;
  }
  .main-container .main-content .portfolio__example {
    position: relative;
    padding-left: 650px;
  }
  .main-container .main-content .portfolio__example:nth-of-type(even) {
    transform: scaleX(-1);
  }
  .main-container .main-content .portfolio__example:nth-of-type(even) h2,
  .main-container .main-content .portfolio__example:nth-of-type(even) article,
  .main-container .main-content .portfolio__example:nth-of-type(even) img {
    transform: scaleX(-1);
  }
  .main-container .main-content .portfolio__example h2 {
    display: block;
    margin-bottom: 180px;
  }
  .main-container .main-content .portfolio__example article {
    font-size: 16px;
    width: 100%;
    float: none;
  }
  .main-container .main-content .portfolio__example .carousel-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 554px;
  }
  .main-container .main-content .portfolio__example .carousel-container:before {
    padding-top: calc(70.5%);
  }
  .main-container .main-content .portfolio__example .carousel-container .carousel__control {
    height: 50%;
    width: calc(100% - 27px);
  }
  .main-container .main-content .portfolio__example .carousel-container .carousel__control--forward {
    bottom: 0;
  }
  .main-container .main-content .portfolio__example .carousel-container .carousel__control--backward {
    top: 0;
  }
  .main-container .main-content .portfolio__example .carousel-container .carousel__slide {
    height: 100%;
    width: calc(100% - 27px);
  }
  .main-container .main-content .portfolio__example .carousel-container .carousel__indicators {
    height: 100px;
    width: 10px;
    right: 1px;
    top: calc(50% - 50px);
  }
  .main-container footer {
    padding-bottom: 225px;
  }
  .main-container footer .footer-container {
    position: relative;
    width: 944px;
    margin: auto;
  }
  .main-container footer h1 {
    margin-top: 50px;
    margin-bottom: 60px;
  }
  .main-container footer ul {
    padding-left: 25px;
    width: 100%;
    display: block;
  }
  .main-container footer article {
    flex: none;
    width: 27%;
    padding-right: 73%;
    display: block;
    margin-bottom: 40px;
  }
  .main-container footer form {
    position: absolute;
    width: 50%;
    right: 40px;
    top: 130px;
  }
}
